@model IDGS902_Tema1.Models.Calculos

@{
    ViewBag.Title = "Puntos";
}

<h2>Puntos</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label> Numero 1:</label>
                <br />
                <input type="text" name="Num1" value="" />
                <br />
                <label> Numero 2:</label>
                <br />
                <input type="text" name="Num2" value="" />
                <br />
                <label> Numero 3:</label>
                <br />
                <input type="text" name="Num3" value="" />
                <br />
                <label> Numero 4:</label>
                <br />
                <input type="text" name="Num4" value="" />
                <br />
                <br />
                <input type="submit" name="name" value="Calcular" />
            </form>
        </div>
        <div class="col-lg-6">
            <h1>Distancia es: @ViewBag.Res</h1>
        </div>
    </div>
</div>
